<% if @actor_name.empty? %>

  <p>Sorry, we can't find an actor with that ID.</p>

<% else %>

  <h3><%= @actor_name %></h3>

  <p>
    <%= @actor_name %> has starred in the following movies:
  </p>

  <% if @movies.empty? %>

    <p>This actor hasn't appeared in any movies.</p>

  <% else %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Role</th>
        </tr>
      </thead>

      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><a href="/movies/<%= movie[:id] %>"><%= movie[:title] %></a></td>
            <td><%= movie[:role] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
<% end %>
