<h3>Movies</h3>

<ul>
  <li><a href="/movies?page=<%= params[:page].to_i + 1 %>">Next</a></li>
  <% if params[:page] && params[:page] != '1' %>
    <li><a href="/movies?page=<%= params[:page].to_i - 1 %>">Back</a></li>
  <% end %>
</ul>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th><a href="/movies?order=year">Year</a></th>
      <th><a href="/movies?order=rating">Rating</a></th>
      <th>Genre</th>
      <th>Studio</th>
    </tr>
  </thead>

  <tbody>

    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie[:id] %>"><%= movie[:title] %></a></td>
        <td><%= movie[:year] %></td>
        <td><%= movie[:rating] %></td>
        <td><%= movie[:genre] %></td>
        <td><%= movie[:studio] %></td>
      </tr>
    <% end %>

  </tbody>
</table>
